

p {
  font-family: Georgia, serif;
  font-size: 1.1em;
}
.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: #00abd7;
}
#header {
  font-weight: 600;
  color: #00abd7;
}
  #profile {
    border:.25em solid #00abd7;
    border-radius: 50%;
    size: 100%;

  }
  .navbar {
    background-color:#00abd7;
}

#resume {
  background-color:#00abd7;
  border: 0cm;
}
#bio {
/* font-family: 'Playfair Display', serif; */
  }
  #header {
    /* font-family: 'Anton', sans-serif; */
    font-size: 3em
  }
  

  .parallax-window {
    min-height: 400px;
    background: transparent;
  }
  .jumbotron {
    background-image: url('file:///Users/anthonymcpherson/Responsive-Portfolio/assets/images/codingwallpaper.jpeg');
    background-size: cover; 
    height: 350px;
  }


.typewrite {
   color:#fff; text-decoration: none;
  font-size: 2em;
 } 
 
 .uk-card-default .uk-card-title {
  color: #00abd7;
}
.fa-github {
  color: 	#808080;
}
.fa-link {
  color: 	#808080;
}

.fa:hover {
  color: #00abd7;
}